# –î–æ–º–∞—à–Ω–∏–µ –∑–∞–¥–∞–Ω–∏—è –ø—è—Ç–æ–≥–æ —É—Ä–æ–∫–∞.

**1. –ò–º–µ—é—Ç—Å—è —Å–ª–µ–¥—É—é—â–∏–µ –¥–∞–Ω–Ω—ã–µ –æ —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏—è—Ö –≤ –ø–µ—Ä–∏–æ–¥ —Å 01.12.2010 –ø–æ 12.09.2011:**

* InvoiceNo ‚Äî –Ω–æ–º–µ—Ä —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏–∏
* StockCode ‚Äî –∫–æ–¥ —Ç–æ–≤–∞—Ä–∞
* Description ‚Äî –æ–ø–∏—Å–∞–Ω–∏–µ —Ç–æ–≤–∞—Ä–∞
* Quantity ‚Äî –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –µ–¥–∏–Ω–∏—Ü —Ç–æ–≤–∞—Ä–∞, –¥–æ–±–∞–≤–ª–µ–Ω–Ω—ã—Ö –≤ –∑–∞–∫–∞–∑
* InvoiceDate ‚Äî –¥–∞—Ç–∞ —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏–∏ 
* UnitPrice ‚Äî —Ü–µ–Ω–∞ –∑–∞ –µ–¥–∏–Ω–∏—Ü—É —Ç–æ–≤–∞—Ä–∞
* CustomerID ‚Äî id –∫–ª–∏–µ–Ω—Ç–∞
* Country ‚Äî —Å—Ç—Ä–∞–Ω–∞, –≥–¥–µ –ø—Ä–æ–∂–∏–≤–∞–µ—Ç –∫–ª–∏–µ–Ω—Ç

**–í –¥–∞–Ω–Ω–æ–π –∑–∞–¥–∞—á–µ —Å—Å—ã–ª–∫–∞ –¥–ª—è —Å—á–∏—Ç—ã–≤–∞–Ω–∏—è –¥–∞–Ω–Ω—ã—Ö –ª–µ–∂–∏—Ç –≤ –ø–µ—Ä–µ–º–µ–Ω–Ω–æ–π path_to_file.
–ò–º–ø–æ—Ä—Ç–∏—Ä—É–π—Ç–µ –ø–∞–Ω–¥–∞—Å –∏ –ø—Ä–æ—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω–Ω—ã–µ —Å –∫–æ–¥–∏—Ä–æ–≤–∫–æ–π ISO-8859-1. –ó–∞–ø–∏—à–∏—Ç–µ –ø–æ–ª—É—á–µ–Ω–Ω—ã–π –¥–∞—Ç–∞—Ñ—Ä–µ–π–º –≤ retail, –∞ –Ω–∞–∑–≤–∞–Ω–∏—è –∫–æ–ª–æ–Ω–æ–∫ —Å–æ—Ö—Ä–∞–Ω–∏—Ç–µ –≤ –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é retail_columns.**

In [2]:
import pandas as pd
path_to_file = 'C:/Users/–ê–ª–µ–∫—Å–∞–Ω–¥—Ä/pj/karpov_courses/Python/Homeworks/Datasets/5_data.csv.zip'
retail = pd.read_csv(path_to_file, compression='zip', encoding='ISO-8859-1')
retail_columns = retail.columns
retail.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

**2. –ü—Ä–æ–≤–µ—Ä—å—Ç–µ, –≤—Å—Ç—Ä–µ—á–∞—é—Ç—Å—è –ª–∏ –≤ –¥–∞–Ω–Ω—ã—Ö –ø–æ–≤—Ç–æ—Ä—è—é—â–∏–µ—Å—è –Ω–∞–±–ª—é–¥–µ–Ω–∏—è, –∏ –≤ –∫–∞—á–µ—Å—Ç–≤–µ –æ—Ç–≤–µ—Ç–∞ —É–∫–∞–∂–∏—Ç–µ –∏—Ö –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ. –ï—Å–ª–∏ –æ–Ω–∏ –µ—Å—Ç—å, —Ç–æ —É–¥–∞–ª–∏—Ç–µ –∏—Ö –∏–∑ retail.**

In [3]:
len(retail) - len(retail.drop_duplicates())

5268

In [4]:
retail = retail.drop_duplicates()

–û—Ç–≤–µ—Ç: 5268

**3. ‚≠êÔ∏è –ó–∞–¥–∞–Ω–∏–µ —Å–æ –∑–≤—ë–∑–¥–æ—á–∫–æ–π! ‚≠êÔ∏è**

–î**–∞–Ω–Ω—ã–µ —Å–æ–¥–µ—Ä–∂–∞—Ç –≤ —Å–µ–±–µ –∑–∞–ø–∏—Å–∏ –∫–∞–∫ –æ–± —É—Å–ø–µ—à–Ω—ã—Ö —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏—è—Ö, —Ç–∞–∫ –∏ –æ–± –æ—Ç–º–µ–Ω–µ–Ω–Ω—ã—Ö. –ï—Å–ª–∏ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å –æ—Ç–º–µ–Ω–∏–ª –∑–∞–∫–∞–∑, –≤ –Ω–∞—á–∞–ª–µ –Ω–æ–º–µ—Ä–∞ —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏–∏ (InvoiceNo) —Å—Ç–∞–≤–∏—Ç—Å—è C (canceled).**

**–°–∫–æ–ª—å–∫–æ –≤—Å–µ–≥–æ —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏–π –æ—Ç–º–µ–Ω–∏–ª–∏ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–∏? –ö–∞–∂–¥—ã–π –æ—Ç–¥–µ–ª—å–Ω—ã–π —Ç–∏–ø –ø—Ä–æ–¥—É–∫—Ç–∞ —Å—á–∏—Ç–∞–π—Ç–µ –∑–∞ –æ—Ç–¥–µ–ª—å–Ω—É—é —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏—é - —É–Ω–∏–∫–∞–ª—å–Ω—ã–µ –Ω–æ–º–µ—Ä–∞ —Å—á–∏—Ç–∞—Ç—å –Ω–µ –Ω–∞–¥–æ.**

In [5]:
retail.InvoiceNo.str[0].unique()

array(['5', 'C', 'A'], dtype=object)

In [6]:
retail.loc[retail.InvoiceNo.str[0] == 'C'].shape

(9251, 8)

–û—Ç–≤–µ—Ç: 9251

**4. –¢–µ–ø–µ—Ä—å –æ—Ç—Ñ–∏–ª—å—Ç—Ä—É–π—Ç–µ –¥–∞–Ω–Ω—ã–µ –∏ –æ—Å—Ç–∞–≤—å—Ç–µ –≤ retail —Ç–æ–ª—å–∫–æ —Ç–µ –∑–∞–∫–∞–∑—ã, –≥–¥–µ Quantity > 0. –í –∫–∞—á–µ—Å—Ç–≤–µ –æ—Ç–≤–µ—Ç–∞ —É–∫–∞–∂–∏—Ç–µ —á–∏—Å–ª–æ –æ—Å—Ç–∞–≤—à–∏—Ö—Å—è —Å—Ç—Ä–æ–∫.**

In [7]:
retail = retail.loc[retail.Quantity > 0]
retail.shape

(526054, 8)

–û—Ç–≤–µ—Ç: 526054

**5. üíÄ –°–ª–æ–∂–Ω–æ–µ –∑–∞–¥–∞–Ω–∏–µ! üíÄ**

**–ü–æ—Å—á–∏—Ç–∞–π—Ç–µ —á–∏—Å–ª–æ –∑–∞–∫–∞–∑–æ–≤ –¥–ª—è –∫–∞–∂–¥–æ–≥–æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è (CustomerID) –∏–∑ –ì–µ—Ä–º–∞–Ω–∏–∏ (Germany). –û—Å—Ç–∞–≤—å—Ç–µ —Ç–æ–ª—å–∫–æ —Ç–µ—Ö, –∫—Ç–æ —Å–æ–≤–µ—Ä—à–∏–ª –±–æ–ª–µ–µ N —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏–π (InvoiceNo), –≥–¥–µ N ‚Äì 80% –ø—Ä–æ—Ü–µ–Ω—Ç–∏–ª—å. –ó–∞–ø–∏—à–∏—Ç–µ –ø–æ–ª—É—á–µ–Ω–Ω—ã–µ id –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –≤ germany_top (–Ω–µ –≤–µ—Å—å –¥–∞—Ç–∞—Ñ—Ä–µ–π–º, —Ç–æ–ª—å–∫–æ id).**

–û—Ç—Ñ–∏–ª—å—Ç—Ä–æ–≤–∞–Ω–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ –∑–∞–ø–∏—Å–∞–Ω—ã –≤ retail. –ò–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∑–∞–∫–∞–∑–∞ ‚Äì InvoiceNo. –î–ª—è –∫–∞–∂–¥–æ–≥–æ –∑–∞–∫–∞–∑–∞ –≤ –¥–∞–Ω–Ω—ã—Ö –º–æ–∂–µ—Ç –≤—Å—Ç—Ä–µ—á–∞—Ç—å—Å—è –±–æ–ª–µ–µ 1 —Å—Ç—Ä–æ–∫–∏.

In [9]:
invoice_dist = retail[retail.Country == 'Germany'].groupby('CustomerID', as_index=False) \
                                                  .agg(total_invoices=('InvoiceNo', 'nunique'))
invoice_dist.head()

   CustomerID  total_invoices
0     12426.0               1
1     12427.0               3
2     12468.0               2
3     12471.0              30
4     12472.0               7

In [10]:
N = invoice_dist.total_invoices.quantile(0.8)
N

7.0

In [11]:
germany_top = invoice_dist.loc[invoice_dist.total_invoices > N]['CustomerID']
germany_top

3     12471.0
6     12474.0
8     12476.0
12    12481.0
16    12500.0
26    12524.0
37    12569.0
44    12600.0
51    12619.0
52    12621.0
56    12626.0
64    12647.0
69    12662.0
77    12705.0
78    12708.0
79    12709.0
81    12712.0
83    12720.0
Name: CustomerID, dtype: float64

**6. ‚≠êÔ∏è –ó–∞–¥–∞–Ω–∏–µ —Å–æ –∑–≤—ë–∑–¥–æ—á–∫–æ–π! ‚≠êÔ∏è**

**–ò—Å–ø–æ–ª—å–∑—É—è –æ–±—ä–µ–∫—Ç —Å id –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π (germany_top), –ø–æ–ª—É—á–µ–Ω–Ω—ã–π –Ω–∞ –ø—Ä–µ–¥—ã–¥—É—â–µ–º —à–∞–≥–µ, –æ—Ç—Ñ–∏–ª—å—Ç—Ä—É–π—Ç–µ –Ω–∞–±–ª—é–¥–µ–Ω–∏—è –∏ –æ—Å—Ç–∞–≤—å—Ç–µ –≤ –¥–∞–Ω–Ω—ã—Ö –∑–∞–ø–∏—Å–∏ —Ç–æ–ª—å–∫–æ –ø–æ –∏–Ω—Ç–µ—Ä–µ—Å—É—é—â–∏–º –Ω–∞—Å —é–∑–µ—Ä–∞–º. –†–µ–∑—É–ª—å—Ç–∏—Ä—É—é—â–∏–π –¥–∞—Ç–∞—Ñ—Ä–µ–π–º –∑–∞–ø–∏—à–∏—Ç–µ –≤ top_retail_germany.**

–î–∞—Ç–∞—Ñ—Ä–µ–π–º –∑–∞–ø–∏—Å–∞–Ω –≤ retail, –Ω—É–∂–Ω—ã–µ id –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π ‚Äì –≤ germany_top.

In [13]:
top_retail_germany = retail.loc[retail.CustomerID.isin(germany_top)]
top_retail_germany.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
1109,536527,22809,SET OF 6 T-LIGHTS SANTA,6,12/1/2010 13:04,2.95,12662.0,Germany
1110,536527,84347,ROTATING SILVER ANGELS T-LIGHT HLDR,6,12/1/2010 13:04,2.55,12662.0,Germany
1111,536527,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,12,12/1/2010 13:04,0.85,12662.0,Germany
1112,536527,22242,5 HOOK HANGER MAGIC TOADSTOOL,12,12/1/2010 13:04,1.65,12662.0,Germany
1113,536527,22244,3 HOOK HANGER MAGIC GARDEN,12,12/1/2010 13:04,1.95,12662.0,Germany

**7. –°–≥—Ä—É–ø–ø–∏—Ä—É–π—Ç–µ top_retail_germany –ø–æ –∫–æ–¥—É —Ç–æ–≤–∞—Ä–∞ (StockCode). –ö–∞–∫–æ–π –∏–∑ –ø—Ä–æ–¥—É–∫—Ç–æ–≤ –¥–æ–±–∞–≤–ª—è–ª–∏ –≤ –∫–æ—Ä–∑–∏–Ω—É —á–∞—â–µ –≤—Å–µ–≥–æ, –∫—Ä–æ–º–µ POST?** 

Note: –æ–¥–Ω–∏–º –∑–∞–∫–∞–∑–æ–º —Å—á–∏—Ç–∞–µ—Ç—Å—è –µ–¥–∏–Ω–æ–≤—Ä–µ–º–µ–Ω–Ω–∞—è –ø–æ–∫—É–ø–∫–∞ –ª—é–±–æ–≥–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ —Ç–æ–≤–∞—Ä–∞, —Ç.–µ. –±–µ–∑ —É—á–µ—Ç–∞ Quantity.

In [14]:
top_retail_germany.groupby('StockCode').size().sort_values(ascending=False)

StockCode
POST     213
22326     52
22328     38
22423     34
20719     30
        ...
22563      1
22569      1
22574      1
22576      1
22662      1
Length: 1158, dtype: int64

–û—Ç–≤–µ—Ç: 22326

**8. –í–µ—Ä–Ω–µ–º—Å—è –∫ –∞–Ω–∞–ª–∏–∑—É –ø–æ–ª–Ω–æ–≥–æ –¥–∞—Ç–∞—Å–µ—Ç–∞ retail. –°–æ–∑–¥–∞–π—Ç–µ –∫–æ–ª–æ–Ω–∫—É Revenue —Å —Å—É–º–º–æ–π –ø–æ–∫—É–ø–∫–∏, –∏—Å–ø–æ–ª—å–∑—É—è –∫–æ–ª–æ–Ω–∫–∏ Quantity –∏ UnitPrice.**

–û—Ç—Ñ–∏–ª—å—Ç—Ä–æ–≤–∞–Ω–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ –∑–∞–ø–∏—Å–∞–Ω—ã –≤ retail.

In [15]:
retail['Revenue'] = retail.UnitPrice * retail.Quantity

**9. –î–ª—è –∫–∞–∂–¥–æ–π —Ç—Ä–∞–Ω–∑–∞–∫—Ü–∏–∏ (InvoiceNo), –ø–æ—Å—á–∏—Ç–∞–π—Ç–µ —Ñ–∏–Ω–∞–ª—å–Ω—É—é —Å—É–º–º—É –∑–∞–∫–∞–∑–∞. –í –∫–∞—á–µ—Å—Ç–≤–µ –æ—Ç–≤–µ—Ç–∞ —É–∫–∞–∂–∏—Ç–µ —Ç–æ–ø-5 (InvoiceNo) –ø–æ —Å—É–º–º–µ –∑–∞–∫–∞–∑–∞ (—á–µ—Ä–µ–∑ –∑–∞–ø—è—Ç—É—é —Å –ø—Ä–æ–±–µ–ª–æ–º –∏ –≤ –ø–æ—Ä—è–¥–∫–µ —É–±—ã–≤–∞–Ω–∏—è TotalRevenue)**

**–ù–∞–ø—Ä–∏–º–µ—Ä, –¥–ª—è —Å–ª–µ–¥—É—é—â–µ–≥–æ –ø—Ä–∏–º–µ—Ä–∞...**

InvoiceNo StockCode Quantity InvoiceDate          UnitPrice  CustomerID  Revenue

536365    85123A    6        2010-12-01 08:26:00  2.55       17850.0     15.30

536365    71053     6        2010-12-01 08:26:00  3.39       17850.0     20.34

555555    71053     1        2010-12-02 18:00:00  3.39       17850.0     3.39

**...—Å—É–º–º–∞ –∑–∞–∫–∞–∑–∞ –±—É–¥–µ—Ç —Ä–∞–≤–Ω–∞:**

InvoiceNo  TotalRevenue

536365     35.64

555555     3.39

**–ò –æ—Ç–≤–µ—Ç–æ–º –±—É–¥–µ—Ç:**

536365, 555555

In [18]:
top_revenue = retail.groupby('InvoiceNo').agg(TotalRevenue=('Revenue', 'sum')) \
                           .sort_values('TotalRevenue', ascending=False) \
                           .head()
top_revenue

           TotalRevenue
InvoiceNo
581483        168469.60
541431         77183.60
574941         52940.94
576365         50653.91
556444         38970.00

In [19]:
top_revenue.index

Index(['581483', '541431', '574941', '576365', '556444'], dtype='object', name='InvoiceNo')

–û—Ç–≤–µ—Ç: 581483, 541431, 574941, 576365, 556444